
snippet di
	display: ${0};

snippet h
	height: ${0};

snippet w
	width: ${0};

snippet c
	color

snippet bkc
	background-color

snippet il
	inline

snippet ilb
	inline-block

snippet cen
	center

snippet mar
	margin: ${0};

snippet pos
	position: ${0};

snippet cla
	.${1:name}{
		${0}
	}

snippet id
	#${1:name}{
		${0}
	}


