

snippet htm
	<!DOCTYPE html>
	<html>
	<head>
		<script src="${1:index.js}"></script>
		<link rel="stylesheet" type="text/css" href="${2:styles}.css">
	</head>
	<body>
	</body>
	</html>

snippet div
	<div class="${1:name}">
	</div>

snippet divid
	<div id="${1:name}">
	</div>

snippet jquery
		<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>


